*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #001124;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* login page */
/* registration form */

.form__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 45px;
  color: #ffffff;
  margin-top: 0;
}

.form__text {
  font-family: Padauk, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.form__label {
  color: #ffffff;
}

.form__input {
  display: block;
  width: 100%;
  height: 43px;
  outline: none;
  margin-bottom: 11px;
}

.form__button {
  font-family: Padauk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #015fc7;
  padding: 10px 10px 4px 10px;
  display: block;
  max-width: 180px;
  text-align: center;
}

/* login page */

.login-page {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 800px;
  padding-right: 15px;
  height: 100vh;
}

.login-page img {
  position: absolute;
  left: -110px;
}

.login-page .login-page__block {
  position: relative;
  top: -40px;
  max-width: 363px;
  min-width: 180px;
  width: 100%;
}

.login-page h1 {
  margin-bottom: 42px;
}

.login-page .link {
  color: #499ffe;
}

.login-page p {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 11px;
}

/* registration form */

.registration-form__container {
  padding-left: 20px;
  padding-right: 62px;
  display: flex;
  justify-content: center;
}

.registration-form {
  display: flex;
  align-items: flex-start;
  padding-top: 8%;
  padding-bottom: 8%;
  justify-content: space-between;
  width: 100%;
  max-width: 984px;
}

.registration-form__block {
  max-width: 363px;
  min-width: 180px;
  width: 100%;
}

.registration-form img {
  margin-right: 20px;
}

.registration-form h1 {
  margin-bottom: 38px;
}

.registration-form .last-child {
  margin-bottom: 45px;
}

.registration-form .form__button {
  margin: 0 85px;
}

/* form */

.form__block {
  font-family: "Public Sans", sans-serif;
  line-height: 22px;
  padding-top: 64px;
  padding-bottom: 110px;
  background-color: #f9f9f9;
}

.form__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 848px;
  display: flex;
  flex-direction: column;
}

.form__block h1 {
  font-size: 24px;
  color: #171717;
  margin-top: 0;
  margin-bottom: 79px;
}

.form__block form > div:first-child {
  font-size: 14px;
  color: #171717;
  margin-bottom: 24px;
}

.star,
span {
  color: #d83933;
}

.form__block h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 32px;
}

.first-block,
.second-block,
.third-block,
.fourth-block,
.fifth-block {
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 19px;
}

.first-block {
  margin-bottom: 24px;
}

.form__block label {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  max-width: 392px;
  width: 100%;
}

.form__block input,
.form__block select {
  font-size: 16px;
  width: 100%;
  padding: 9px 10px;
  border-radius: 4px;
  border: 1px solid #adadad;
  outline: none;
}

.form__block select {
  appearance: none;
  background-image: url(../images/arrow-img.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 8px;
}

.form__block .application-registration select {
  color: #0050d8;
}

.center-text input {
  text-align: center;
}

.checkbox-label {
  align-self: center;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  cursor: pointer;
}

.checkbox-image {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  margin-right: 8px;
}

input[type="checkbox"]:checked {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="checkbox"]:checked + .checkbox-image {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  white-space: inherit;
  clip-path: none;
  cursor: pointer;
}

.information__block::after,
.maternity-information__block::after,
.official-use__block::after,
.system-information__block::after {
  content: "";
  display: block;
  border: 1px solid #d1d1d1;
  margin-top: 27px;
  margin-bottom: 32px;
}

.child_support__text {
  max-width: 360px;
  color: #171717;
}

input::placeholder {
  color: #747474;
}

.search-input input {
  background-image: url(../images/search-img.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 8px;
}

.system-information__block::after {
  margin-bottom: 16px;
}

.form-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #0050d8;
  padding: 9px 16px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
}
